* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  overflow: hidden;
}

#animated-cloud-canvas {
  background: linear-gradient(#25364f, #4d71a5, #9bc4ff);
}

#orbit-canvas{
  background-color: white;
}
